.communication
  position: relative
  padding: 6.4rem 0 12.0rem
  &::before
    content: ''
    position: absolute
    top: 6.4rem
    left: 0
    right: calc(50% + 86.9rem)
    bottom: 12.0rem
    background: #2E70F0
    z-index: 5
  &__container
    position: relative
    padding-top: 8.0rem
    padding-bottom: 8.0rem
    overflow: hidden
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 37.8rem
      bottom: 0
      border-radius: .0rem 3.2rem 3.2rem .0rem
      background: #2E70F0
      z-index: -1
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 3.0rem
      bottom: 0
      border-radius: .0rem 3.2rem 3.2rem .0rem
      background-color: #F4F2EF
      z-index: -2
  &__img
    position: absolute
    right: 3.4rem
    top: .8rem
    bottom: 0
    max-height: calc(100% + 1.0rem)
    object-fit: contain
  &__title
    color: #fff
    font-size: 8.8rem
    font-weight: 700
    line-height: calc(96 / 88)
    margin: 0 0 4.0rem
