.contacts
  padding: 64px 0 120px
  &__container
    display: grid
    grid-template-columns: 532px 1fr
    gap: 40px
  &__info
    padding: 64px 64px 0 0
  &__item
    font-size: 24px
    line-height: 1.5
    margin: 0 0 20px
    +space-v(6px)
  &__title
    font-size: 88px
    font-weight: 700
    line-height: calc(96 / 88)
    margin: 0 0 20px
  &__link
    display: block
    font-weight: 700
  &__label
    display: block
    opacity: 0.7

.yandex-map
  min-height: 640px
  width: 100%
  border-radius: 32px
