body
  font-family: TTNormsPro, Arial, sans-serif
  font-size: 16px
  line-height: 1.25
  color: #000

a
  text-decoration: none

.px-32
  padding-right: 32px
  padding-left: 32px

.px-40
  padding-right: 40px
  padding-left: 40px

.py-16
  padding-top: 16px
  padding-bottom: 16px

.pr-20
  padding-right: 20px

.py-24
  padding-top: 24px
  padding-bottom: 24px

.mr-20
  margin-right: 20px

.container
  max-width: 1740px
  padding-right: 30px
  padding-left: 30px
  margin: 0 auto
