.delivery
  padding: 64px 0 120px
  &__container
    display: flex
  &__header
    width: 100%
    max-width: 780px
    margin-right: 68px
  &__title
    font-size: 88px
    font-weight: 700
    line-height: calc(96 / 88)
    margin: 0 0 36px
  &__text
    font-size: 24px
    line-height: 1.5
    opacity: 0.7
    margin: 0
  &__list
    width: 100%
    padding: 0
    margin: 0
    list-style: none
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 20px
  &__link
    display: flex
    min-height: 240px
    padding: 32px
    justify-content: center
    align-items: center
    border-radius: 24px
    background-color: #F4F2EF
    &-icon
      max-width: 135px
      max-height: 110px
