.goods-card
  position: relative
  padding: 41px 48px 41px 0
  display: grid
  grid-template-areas: 'img title' 'img subtitle' 'img colors' 'img description' 'img button'
  grid-template-columns: 280px 1fr
  grid-template-rows: min-content minmax(39px, min-content) min-content min-content
  column-gap: 29px
  border-radius: 32px
  z-index: 1
  &::after
    content: ''
    position: absolute
    top: 0
    left: 55px
    right: 0
    bottom: 0
    border-radius: 32px
    background-color: #F4F2EF
    z-index: -1
  &__img
    grid-area: img
    object-fit: contain
    max-width: 100%
    width: 100%
    height: 100%
  &__title
    font-size: 36px
    font-weight: 700
    line-height: calc(40 / 36)
    margin: 0
    padding-top: 7px
  &__subtitle
    grid-area: subtitle
    font-size: 20px
    line-height: 1.35
    opacity: 0.7
    margin: 0 0 12px
  &__colors
    grid-area: colors
    font-size: 0
    margin-bottom: 12px
    +space-h(12px)
  &__description
    grid-area: description
    margin: 0 0 14px
    overflow: hidden
    color: #000
    font-size: 20px
    line-height: 1.4
    +text-line-overflow(4)
  &__btn
    grid-area: button
    align-self: start
    justify-self: start
