.hero
  padding: 10.4rem 0 4.0rem
  overflow: hidden
  &__swiper
    display: flex
    flex-direction: column
    align-items: center
    overflow: visible
  &__link
    display: flex
    align-items: center
    min-height: 7.2rem

.swiper-controls
  position: absolute
  height: 0
  top: 33.2rem
  left: 0
  right: 0
  display: flex
  justify-content: space-between
  align-items: center

.swiper-btn
  position: relative
  border: none
  padding: 0
  background-color: #fff0
  cursor: pointer
  transition: .3s
  &:hover
    color: #2E70F0
  &:active
    color: #1C479B
  &-wrap
    position: relative
    overflow: hidden
    width: 12.0rem
    height: 4.3rem
    transition: .3s
  &:active > &-wrap
    width: 8.0rem
  &-icon
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 12.0rem
    height: 4.3rem
    z-index: 50
  &::after
    position: absolute
    top: 50%
    content: ''
    height: 32.5rem
    width: 32.5rem
    background-color: #F4F2EF
    border-radius: 50%
    z-index: 1
    transition: .3s
  &::before
    position: absolute
    top: 50%
    content: ''
    height: 32.5rem
    width: 32.5rem
    z-index: 50
    border-radius: 50%
    transition: .3s

.swiper-btn-left .swiper-btn-icon
  left: 0
.swiper-btn-right .swiper-btn-icon
  right: 0

.swiper-btn-left
  &::after, &::before
    left: 50%
    transform: translate(-107%, -50%)
  &:active
    &::after, &::before
      transform: scale(.6) translate(-135%, -83.3333%)

.swiper-btn-right
  &::after, &::before
    right: 50%
    transform: translate(107%, -50%)
  &:active
    &::after, &::before
      transform: scale(.6) translate(135%, -83.3333%)
