@function str-replace($string, $search, $replace: "")
  $index: str-index($string, $search)

  @if $index
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace)

  @return $string

@mixin font-face($name, $exts: eot woff2 woff ttf svg, $weight: 400, $style: 'normal')
  $src: null

  $extmods: (eot: "?", svg: "#" + str-replace($name, " ", "_"))

  $formats: (otf: "opentype", ttf: "truetype")

  @each $ext in $exts
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext)
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext)
    $src: append($src, url(quote($fonts-path + $name + "/" + $name + "-" + $weight + "-" + $style + "." + $extmod)) format(quote($format)), comma)

  @font-face
    font-family: quote($name)
    font-style: $style
    font-weight: $weight
    src: $src

@mixin space-h($space)
  @content
  &>:not(:last-child)
    margin-right: $space

@mixin space-v($space)
  @content
  &>:not(:last-child)
    margin-bottom: $space

@mixin text-line-overflow($count)
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: $count
  -webkit-box-orient: vertical

// @mixin color($color)
//   background-image: conic-gradient(from 60deg at 50% 50%, $color 0%, rgba($color, .67) 14.3561%, $color 32.5364%, rgba($color, .87) 48.7974%, rgba($color, .6) 62.86%, rgba($color, .83) 79.99%, $color 100%)

@mixin color($color)
  background-image: conic-gradient(from 60deg at 50% 50%, #fff0 0%, #ffffff99 17.7083%, #fff0 32.5364%, #ffffff2E 48.7974%, #ffffff78 62.8604%, #fff0 81.7708%, #ffffff06 100%)
  background-color: $color

@mixin lg
  @media (min-width: 1366px)
    @content
