.slide
  padding: 40px 0 20px
  text-align: center
  min-height: 976px
  z-index: -1
  &__title
    position: relative
    font-size: 104px
    font-weight: 700
    float: right
    right: -110px
    line-height: calc(124 / 104)
    margin: 0
    transition: .6s ease-in-out
    transform: translateX(50%)
  &__img
    position: absolute
    top: -2px
    left: 36px
    right: 36px
    bottom: -8px
    object-fit: contain
    max-width: 100%
    max-height: 100%
    height: 100%
    width: 100%
    transition: 0.6s ease-in-out
    &-wrap
      display: inline-block
      position: relative
      width: 688px
      height: 688px
      vertical-align: middle
      &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 100%
        height: 100%
        border-radius: 50%
        background-color: #F4F2EF
        z-index: -1
        transition: 0.6s ease-in-out
        transform: scale(1) translate(-50%, -50%)

.swiper-slide-next .slide
  &__img
    transform: scale(.25) translateX(50%)
    &-wrap
      &::after
        left: 0
        right: 100%
        transform: scale(.45) translate(-50%, -107%)
  &__title
    left: -100%
    transform: translateX(100%)

.swiper-slide-prev .slide
  &__img
    transform: scale(.25) translateX(-100%)
    &-wrap
      &::after
        left: 100%
        right: 0
        transform: scale(.45) translate(-250%, -107%)
  &__title
    right: 0
    transform: translateX(0)

.swiper-slide-active .slide
  z-index: 10
  &__img
    transform: scale(1)
    &-wrap
      &::after
        transform: scale(1) translate(-50%, -50%)
