.slide
  padding-bottom: 7.2rem
  text-align: center
  min-height: 70.0rem
  z-index: -1
  &__title
    position: absolute
    font-size: 12.4rem
    font-weight: 700
    top: 2.7rem
    left: 91.3%
    transform: translateX(-100%)
    line-height: 1
    margin: 0
    white-space: nowrap
    transition: 1.0s
  &__img
    position: absolute
    top: 0
    left: 0
    object-fit: contain
    max-width: 100%
    max-height: 101.5%
    height: 101.5%
    width: 100%
    transition: 1.0s
    &-wrap
      display: inline-block
      position: relative
      width: 68.8rem
      height: 68.8rem
      vertical-align: middle
      &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 100%
        height: 100%
        border-radius: 50%
        background-color: #F4F2EF
        z-index: -1
        transition: 1.0s
        transform: scale(1) translate(-50%, -50%)

.swiper-slide-next
  & .slide
    &__img
      transform: scale(.05) translateX(-100%)
      &-wrap
        &::after
          right: 0
          transform: scale(.35) translate(-100%, -107%)
    &__title
      left: 0
      transform: translateX(50%)

  & .info-box
    &_position
      &_right-bottom
        right: 50%
      &_left-top
        left: 50%
      &_left-bottom
        left: 50%

.swiper-slide-prev
  & .slide
    &__img
      transform: scale(.05) translateX(-100%)
      &-wrap
        &::after
          left: 0
          transform: scale(.35) translate(-100%, -107%)

  & .info-box
    &_position
      &_right-bottom
        right: 50%
      &_left-top
        left: 50%
      &_left-bottom
        left: 50%

.swiper-slide-active

  & .slide
    &__img
      transform: scale(1)
      &-wrap
        &::after
          transform: scale(1) translate(-50%, -50%)

  & .info-box
    opacity: 1
    & .line-wrap
      transition: 0.8s 0.4s
    &_position
      &_right-bottom
        &.type-a
          & .line-wrap
            width: 14.6rem

      &_left-top
        left: 8.5%
        &.type-a
          & .line-wrap
            width: 25.6rem
        &.type-b
          & .line-wrap
            width: 19.7rem

      &_left-bottom
        left: 8.5%
        &.type-a
          & .line-wrap
            width: 33.7rem

  & .made-in
    opacity: 1
    left: 17.25%
