.link
  text-decoration: none
  color: #000
  transition: .3s
  &:hover
    color: #2E70F0
  &:active
    color: #1C479B

.button
  font-style: normal
  font-weight: 700
  line-height: 1.25
  text-transform: uppercase
  border-radius: 4.0rem
  border: .1rem solid #2E70F0
  transition: .3s
  cursor: pointer
  &:hover
    color: #fff
    background-color: #1C479B
    border-color: #1C479B
  &:active
    color: #fff
    background-color: #0C1F45
    border-color: #0C1F45

  &.main
    color: #2E70F0
    background-color: #fff0

  &.prime
    color: #fff
    background-color: #2E70F0

  &.black
    color: #fff
    background-color: #000
    border-color: #000

.color
  width: 4.0rem
  height: 4.0rem
  padding: .4rem
  appearance: none
  border-radius: 50%
  &::after
    content: ''
    display: block
    width: 3.2rem
    height: 3.2rem
    color: #E5E2D7
    border-radius: 50%
    box-shadow: 0 0 0 .25rem white, 0 0 0 .35rem currentColor
    transition: .3s
  &:hover::after
    color: #2E70F0
  &:active::after, &:checked::after
    color: #000

.gold
  &::after
    +color(#956C02)

.silver
  &::after
    +color(#AEAEAE)

.cupric
  &::after
    +color(#A2472E)

.bronze
  &::after
    +color(#985C38)

.black
  &::after
    +color(#000)

.chrome
  &::after
    +color(#CECDCD)

.white
  &::after
    +color(#ECEAE4)

.pearl
  &::after
    +color(#D2990A)

.red
  &::after
    +color(#720606)
